.test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.test-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.test-image {
  height: 2rem;
}
.test-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.test-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.test-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.test-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.test-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.test-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.test-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.test-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.test-burger-menu {
  display: flex;
}
.test-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}
.test-icon:active {
  align-items: baseline;
}
.test-mobile-menu {
  top: 0px;
  left: 0px;
  width: 327px;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  padding-right: 6px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5c3f3f;
}
.test-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.test-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.test-logo {
  height: 2rem;
}
.test-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.test-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.test-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.test-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.test-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.test-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.test-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.test-button {
  align-self: flex-start;
}
.test-text10 {
  color: rgba(149, 149, 149, 1);
  height: auto;
  font-size: 80px;
  font-style: Bold;
  text-align: left;
  font-family: Gangster Grotesk;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.test-text12 {
  color: rgba(0, 67, 250, 1);
  height: auto;
  font-size: 110px;
  font-style: Bold;
  text-align: left;
  font-family: Gangster Grotesk;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.test-text14 {
  color: rgba(149, 149, 149, 1);
  height: auto;
  font-size: 80px;
  font-style: Bold;
  text-align: left;
  font-family: Gangster Grotesk;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1441px) {
  .test-desktop-menu {
    display: none;
  }
  .test-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .test-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .test-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .test-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .test-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .test-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .test-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .test-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .test-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .test-mobile-menu {
    padding: 16px;
  }
}
